@tailwind base;
@tailwind components;
@tailwind utilities;

/* Pretendard : 글로벌널리지, 플런티 메인 폰트 */
@font-face {
  font-family: "Pretendard";
  src: url("/fonts/pretendard/Pretendard-regular.woff2") format("woff2"),
    url("/fonts/pretendard/Pretendard-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/pretendard/Pretendard-bold.woff2") format("woff2"),
    url("/fonts/pretendard/Pretendard-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* 코딩허브 color 참조 */
:root {
  --light: #ffffff;
  --main: #363a3c;
  --blue: #639fff;
}

body {
  color: var(--main);
  background: var(--light);
  font-family: Pretendard, sans-serif;
}
